<%= form_for(user, {action: "/user/update", method: "POST", class: "form"}) { %>
  <h1></h1>
  <div class="container w-50">
      <%=f.InputTag("Password", {type: "password"}) %>
      <%=f.InputTag("PasswordConfirmation", {type: "password"}) %>
  </div>
  <div class="mt-4 d-flex justify-content-between">
    <div>
        <a href="/" id="cancel" class="btn btn-light py-2 px-3 mx-3 text-dark" >Cancel</a>
        <button  class="btn color-one py-2 px-3 text-white" type="submit">save Password</button>
    </div>  
</div>
<% }  %>