<%= partial("partials/navbar.plush.html") %>
<div class="jumbotron mt-5 container w-75">
    <h1 class="display-4">User details</h1>
    <p class="lead">FirstName: <%= user.FirstName %></p>
    <p class="lead">last Name: <%= user.LastName %></p>
    <p class="lead">Email: <%= user.Email %></p>
    <hr class="my-4">
    <div class="d-flex justify-content-between">
        <div >
            <a class="btn btn-light py-2 px-4 btn-lg text-dark" href="/user/list" role="button">Back to all users</a>
        </div>
        <div>
            <a class="btn btn-primary btn-lg px-4" href="/user/edit/<%= user.ID %>" role="button">Edit</a>
        </div>
           
    </div>
    
  </div>