<!--<%= partial("partials/new-task.plush.html") %>-->
<section id="new-task" class="container px-5 w-75 bg-white mt-5 p-5 ">
    <h3 class="fw-bolder mb-3">New Task</h3>
<%= form_for(task, {action: "/tasks/create", method: "POST", class: "form"}) { %>
    <div class="mb-3 grid-form">
        <%= f.InputTag("Title") %>
        <%= f.InputTag("LimitData") %>
       
        
    </div>
    <%= f.TextArea("Description") %>
    <!-- <%= f.CheckboxTag("CheckComplete") %> -->
    <div class="mt-4 d-flex justify-content-end">
        <button id="cancel" class="btn btn-light py-2 px-3 mx-3" type="button"><a href="/">Cancel</a></button>
        <input id="create-task" class="btn color-one py-2 px-3" type="submit" value="Create Task"></input>
      </div>
<% } %>
</section>
