<nav class="nav color-one pt-4 pb-3">
    <div class="container w-50 d-flex">
      <h1 class="text-light h1 px-3 mr-4">
        <a class="text-white" href="/tasks?check_complet=false">ToDo List</a>
      </h1>
      <div
        class="h-75 my-auto px-4 b-left d-flex flex-column justify-content-center"
      >
        <div>
          <p class="text-light my-auto">
            Tasks
          </p>
        </div>
        <div>
          <p class="mb-0 py-0 text-white" id="date"></p>
        </div>
      </div>
    </div>
    <div class="container w-50 d-flex justify-content-end">
      <a class="nav-link text-light" href="/tasks?check_complet=false"
        >Incomplete Tasks
      </a>
      <a
        class="nav-link text-light font-weight-lighter"
        href="/tasks?check_complet=true"
        >Completed Tasks</a
      >
    </div>
  </nav>

<div class="jumbotron mt-5 container w-75">
    <h1 class="display-4"><%= task.Title %></h1>
    <div class="d-flex justify-content-end">
        <p class="lead"><%= FormatDate(task.LimitData) %></p>
    </div>
    <p class="lead"><%= task.Description %></p>
    <hr class="my-4">
<%= if (task.CheckComplet != true) { %>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary btn-lg px-4" href="/tasks/edit/<%= task.ID %>" role="button">Edit</a>
    </div>
    <% }  %>
  </div>