<nav class="nav color-one pt-4 pb-3">
  <div class="container w-50 d-flex">
    <h1 class="text-light h2 px-3 my-auto mr-4">ToDo List</h1>
    <div class=" h-75 my-auto px-4 b-left d-flex flex-column justify-content-center">
      <div><p class="text-light my-auto"><span><%= ntasks %></span> Incompleted Tasks</p></div>
        <div><p class="text-light my-0">Fecha</p></div>
    </div>
  </div >
  <div class="container w-50 d-flex justify-content-end ">
    <a class="nav-link  text-light my-auto"  href="#"><p class="py-2 fw-lighter"><a href="/">Incomplete Tasks</a></p> </a>
    <a class="nav-link text-light my-auto" href="#"><p class="py-2"><a href="/tasks/completed">Completed Tasks</a></p></a>
  </div>
  </nav>