<section id="tasks" class="container px-5 mx-auto">
  <div class="d-flex justify-content-end py-4">
    <button id="add-task" type="button" class="btn color-one">
      <span class="py-2 px-4"><a href="/tasks/new">Add Task</a></span>
    </button>
  </div>
  <div>
    <table class="table">
      <thead class="table color-two">
        <tr class="text-light">
          <th scope="col "></th>
          <th scope="col" colspan="2">Task</th>
          <th scope="col">Complete by</th>
          <th class="" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <%= for (task) in tasks { %>

        <tr>
          <th scope="row">
            <div class="form-check text-center">
              <%= form_for(task, {action: "/tasks/new-task", method: "POST",
              class: "form"}) { %> <%= f.CheckboxTag("") %> <% } %>
            </div>
          </th>
          <td colspan="2">
            <span class="text-task"
              ><a href="/tasks/show/<%= task.ID %>"><%= task.Title %></a></span
            >
          </td>
          <td><%= task.LimitData %></td>
          <td>
            <a href="/tasks/edit/<%= task.ID %>"
              ><i id="edit" class="fas fa-pencil-alt mr-3 fa-lg"></i
            ></a>
            <a
              data-method="DELETE"
              data-confirm="Are you sure you want to remove this task?"
              href="/tasks/delete/<%= task.ID %>"
            >
              <i id="destroy" class="far fa-trash-alt text-danger fa-lg"></i>
            </a>
      
        <% } %>
        </tr>
      </tbody>
    </table>
  </div>
</section>
